@CHARSET "UTF-8";
body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:790px;
  top:130px;
  width:450px;
  height:330px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:330px;
}
#u1 {
  position:absolute;
  left:2px;
  top:157px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:130px;
  width:720px;
  height:330px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:340px;
}
#u3 {
  position:absolute;
  left:2px;
  top:157px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:130px;
  top:190px;
  width:210px;
  height:190px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:190px;
}
#u5 {
  position:absolute;
  left:2px;
  top:87px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:500px;
  top:230px;
  width:100px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:500px;
  top:310px;
  width:100px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:40px;
  top:16px;
  width:521px;
  height:64px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:64px;
}
#u11 {
  position:absolute;
  left:2px;
  top:24px;
  width:517px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:40px;
  top:80px;
  width:1190px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:1173px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1190px;
  height:1px;
}